USE [master]
GO
/****** Object:  Database [OlympicPlayers]    Script Date: 17/02/2022 2:08:36 PM ******/
CREATE DATABASE [OlympicPlayers]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OlympicPlayers', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\OlympicPlayers.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OlympicPlayers_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\OlympicPlayers_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OlympicPlayers].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OlympicPlayers]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 17/02/2022 2:08:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[PlayersID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[country] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PlayersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
